<div class="row">
    <%= simple_form_for [@experience, @trip] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :first_name, input_html: { value: current_user&.first_name } %>
      <%= f.input :last_name, input_html: { value: current_user&.last_name } %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <div class="form-actions text-center">
        <%= f.button :submit, 'Book Your Experience' %>
      </div>
    </div>
    <% end %>
  </div>
