<div class="row" style="padding-right: 25px;">
    <%= simple_form_for [@experience, @trip] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs" style="padding-top: 15px;">
      <h3>Traveler Details</h3>
      <%= f.input :first_name, input_html: { value: current_user.first_name } %>
      <%= f.input :last_name, input_html: { value: current_user.last_name } %>
      <%= f.input :email, input_html: { value: current_user.email } %>
      <%= f.input :start_date, collection: [
        Date.today.at_end_of_week.prev_day.strftime("%B %d, %Y"),
        Date.today.next_week.at_end_of_week.prev_day.strftime("%B %d, %Y"),
        Date.today.weeks_since(2).at_end_of_week.prev_day.strftime("%B %d, %Y"),
        Date.today.weeks_since(3).at_end_of_week.prev_day.strftime("%B %d, %Y"),
        Date.today.weeks_since(4).at_end_of_week.prev_day.strftime("%B %d, %Y"),
        Date.today.weeks_since(5).at_end_of_week.prev_day.strftime("%B %d, %Y"),
        Date.today.weeks_since(6).at_end_of_week.prev_day.strftime("%B %d, %Y"),
        Date.today.weeks_since(7).at_end_of_week.prev_day.strftime("%B %d, %Y"),
        ] %>
      <%= f.input :number_of_people, collection: [1, 2, 3, 4, 5, 6, 7, 8] %>
    </div>
    <div class="form-inputs" style="padding-top: 15px;">
       <h3>Your Contribution</h3>
       <h4><%= @experience.fund.about %> You can read more here.</h4>
       <%= f.input :contribution, placeholder: "Suggested: Rp. 200.000", hint: 'Commit your contribution to the community\'s fund to help them execute projects that benefit the village you\'ll be staying with.' %>
    </div>
    <div class="form-inputs" style="padding-top: 15px;">
        <h3>Terms and Conditions</h3>
    <div class="termsx">
      <%= render 'trips/terms_and_conditions' %>
    </div>
        <%= f.input :terms_and_conditions, as: :boolean %>
    </div>
   <div class="form-actions text-center">
    <%= f.button :submit, 'Request Your Stay', class: "btn-primary btn-lg" %>
  </div>
  <% end %>
</div>
