
<!-- trip info page -->


<div class="container">

  <div class="row">
    <center><h1 class=highlight>Booking Sent</h1></center>

    <center><h3>Your booking at <%= link_to @trip.experience.title, experience_path(@trip.experience) %> has been sent to host for approval!!</h3></center>
    <br>
  </div>

<div class="row">

  <div class="wrapper" id="itinerary">

    <div class="col-md-4">
      <div class="centered-item">
        <h3>Booking Details</h3>

        <strong><p>Start Date:</strong> <%= @trip.start_date %></p>
        <strong><p>End Date:</strong>  <%= @trip.end_date %></p>
        <strong><p>Length:</strong> <%= (@trip.end_date - @trip.start_date).to_i %> nights</p>
        <strong><p>Price:</strong>  $<%=@trip.experience.price %></p>
        <strong><p>Total:</strong> $<%= @trip.experience.price  *  (@trip.end_date - @trip.start_date).to_i %></p>

      </div>
    </div>
    </div>
    <!-- traveler info -->

    <div class="row">
    <%= @trip.first_name %>
    <%= @trip.last_name %>
    <%= @trip.user.email %>


    <!-- links and paths for page -->

    <%= link_to @trip.experience.title, experience_path(@trip.experience) %>
  </div>



    <div class="row">
    <div class="col-md-8">
      <% if @trip.experience.photos.any? %>
      <%= cl_image_tag @trip.experience.photos.first.path %>
      <% end %>
    </div>
    </div>

  </div>
  <br>
  <div class="row">
    <center><h4>Thanks <%= @trip.user.first_name %> for choosing Troveko! We have sent a confirmation to <%= @trip.user.email %>.</h4></center>
    <br>
  </div>

</div>
