<% content_for(:title_tag) do %>
  Trip Checkout for <%= @trip.experience.title %>
<% end %>

<div class="new_trip">

<div class="container">

 <h1>Review Your Details</h1>
 <h4>Step 2 of 3</h4>
  <div class="container" id="payment-box">
  <h2><%= link_to @trip.experience.title, experience_path(@trip.experience) %></h2>
  <div class="row" id="experience" style="display: inline-block; align-items: center; justify-content: space-around;">
<!--   <div class="row">
 -->    <h4>Trip Date: <%= @trip.start_date.strftime("%m/%d/%y")%></h4>
        <h4>Trip Total: Rp. <%= humanized_money(@trip.experience.price) %> per person</h4>
        <h4>Number of People: <%= @trip.number_of_people %></h4>
        <h4>Fund Contribution: Rp. <%= @trip.contribution ? @trip.contribution.amount : 0 %></h4>
<!--   </div>
 -->        <h2>Your Total: Rp. <%= @sum %></h2>
      </%>
      </div>
    <p>Review the details of your booking, if they are correct click below and you will be redirected to a confirmation page with instructions. Please note that the entire balance of your trip is due in cash (IDR) upon arrival.</p>
  </div>
<div style="text-align: center;">
          <%= button_to 'Confirm', trip_payments_path(@trip), class: "btn-primary btn-lg" %>
    </div>
</div>

</div>


</div>
