<% content_for(:title_tag) do %>
  Trip Checkout
<% end %>

<div class="new_trip">


<div class="container">

 <h1>Payment Details</h1>
 <h4>Step 2 of 2</h4>
  <div class="container" id="payment-box">
  <div class="row" id="experience" style="display: flex; align-items: center; justify-content: space-around;">
    <div class="col-lg-6 col-md-6-col-xs-12 col-sm-12">
      <div class="row" style="display: inline-block; align-items: center;">
        <%#= cl_image_tag @trip.experience.photos[0].path, crop: :fill, radius: 'max', width: 175, height: 175 %>
        <h2><%= link_to @trip.experience.title, experience_path(@trip.experience) %></h2>
<!--         <h4><%= @experience.short_description %></h4>
 -->      <h4>Trip Total: <%=money_without_cents_and_with_symbol(@trip.experience.price) %> per person</h4>
      <h4>Number of People: <%= @trip.number_of_people %></h4>
      <h4>Fund Contribution: <%= @trip.contribution ? money_without_cents_and_with_symbol(@trip.contribution.amount) : 0 %></h4>
      <h2>Your Total: <%= money_without_cents_and_with_symbol(@sum) %></h2>
      </%>
      </div>
    </div>
    <div class="col-lg-6 col-md-6-col-xs-12 col-sm-12" style="bottom: 0;">
       <%= render 'payments/new'  %>
    </div>

  </div>
</div>
<h4>Last step! You're much closer to going to <%= @trip.experience.city %> on <%= @trip.start_date.strftime("%m/%d/%y")%>. Upon successful payment you will be redirected to a confirmation page.</h4>

</div>


</div>
