<% content_for(:title_tag) do %>
  Trip Checkout for <%= @experience.title %>
<% end %>

<div class="new_trip">
<div class="container">

<h1>Trip Checkout</h1>
<h4>Step 1 of 2</h4>
<div class="container" style="background-color: white; border-radius: 20px; margin: 50px 0px;">
  <div class="row">
      <h2><%= @experience.title %></h2>
      <h4><%= @experience.short_description %></h4>
      <h4>You took the first step to having the experience of a lifetime, please fill your details below.</h4>
    </div>

  <div class="container">
    <%= render 'trips/form', experience: @experience %>
  </div>

</div>
 <div class="row" style="padding: 20px 0px;">
      <h4><%= link_to "Go Back to Experience", experience_path(@experience)%></h4>
  </div>
</div>

</div>
