<% content_for(:title_tag) do %>
  Information about Your Trip to <%= @trip.experience.title %>
<% end %>

<p>Booking date:    <%= @trip.created_at %></p>
<p>Start date:      <%= @trip.start_date %></p>
<p>Price:           <%= @trip.experience.price %></p>
<p>Status:          <%= @trip.status ? "Approved" : "Pending" %></p>
