<center><div class="message-container" style="padding-bottom: 30px;">
  <center><h1 class=highlight>Send a Response</h1></center>
  <div class="row">
    <center><%= simple_form_for [@conversation, @message] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs" align="left">
      <%= f.input :header %>
      <%= f.input :content %>
    </div>
    <div class="form-actions text-center">
      <%= f.button :submit, 'Send Message', class: "btn-primary btn-lg" %>
      <%if @conversation.experience %>
      <br>
      <br>
          <%= link_to 'Back to Experience', experience_path(@conversation.experience) %>
<%end%>
    </div>
    <% end %>
  </div>
</div>

</center>
