<div class="navbar-filters traveler-options" id="main-nav">
  <%= link_to "See All Experiences", new_experience_path, :method => :get, class: "traveler-menu", id: "meal-button" %>
  <%= link_to 'Add to Your Profile', new_experience_path, :method => :get, class: "traveler-menu", id: "meal-button" %>
  <%= link_to "See Your Trips", new_fund_path, :method => :get, class: "traveler-menu", id: "meal-button" %>
  <%= link_to 'See Your Contributions', new_experience_path, :method => :get, class: "traveler-menu", id: "meal-button" %>
</div>


<div style="background: '$trov_yellow';">


<!-- <div class="row ngo-actions">
 -->
 <%#= link_to "See All Experiences", new_experience_path, :method => :get, class: "btn-lg btn-primary", id: "meal-button" %>
  <%#= link_to 'Add to Your Profile', new_experience_path, :method => :get, class: "btn-lg btn-primary", id: "meal-button" %>
  <%#= link_to "See Your Trips", new_fund_path, :method => :get, class: "btn-lg btn-primary", id: "meal-button" %>
  <%#= link_to 'See Your Contributions', new_experience_path, :method => :get, class: "btn-lg btn-primary", id: "meal-button" %>
<!-- </div>
 -->

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="profile-info">
      <h2> <%= @user.first_name %> </h2>
        <%= image_tag facebook_image(@user), class: "profile-image" %>
      <div class="edit_profile">
        <p>Johnny AppleSeed</p>
        <p>Detroit, Michigan</p>
        <%= link_to "Edit profile", edit_user_registration_path(@user) %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="profile-activity">
      <div class="my-row">
        <h2 class="flex-item">Hey, <%= user.email %>!</h2>
      </div>

      <div class="traveler-info flex-item">
        <h4>Welcome to your traveler dashboard where you can manage your pending and confirmed Troveko trips</h4>
      </div>
      <!-- From Boostrap  - other features here https://getbootstrap.com/docs/3.3/javascript/#tabs
      -->
      <!-- Tab menu -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active   "><a class="tab" href="#home" aria-controls="requests" role="tab" data-toggle="tab">Pending experiences</a></li>
        <li role="presentation"><a href="#profile" aria-controls="confirmed" role="tab" data-toggle="tab">Confirmed experiences</a></li>
        <li role="presentation"><a href="#profile" aria-controls="requests" role="tab" data-toggle="tab">My Messages</a></li>
      </ul>
      <!-- Tab content -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active no-border" id="home">
          <% if @trips.select{ |x| x.status == false}.empty? %>
          <div class="activity empty">
            <p>You don't have any pending bookings 😢 </p> <br>
            <p><%= link_to "Browse Experiences", experiences_path %></p>
          </div>
          <% else %>
          <div class="activity">
            <% @trips.each do |trip| %>
            <div class="booking">
              <% if trip.status? == false %>
              <div class="booking-row">
               <%= cl_image_tag trip.experience.photos[0].path, {:class => "profile-image", :effect=>"auto_color", :width=>50} %>
              <%= link_to "#{trip.experience.title}", experience_path(trip.experience), class: "meal-link" %>
              <p class="pending end">Waiting for host confirmation</p>
            </div>
            <% end %>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane no-border" id="profile">
          <div class="activity empty">
            <% @trips.each do |trip| %>
              <div class="booking">
              <% if trip.status? == true %>
                <%= cl_image_tag(trip.experience.photos[0].path, :class => "meal-image", :effect=>"auto_color", :width=>50) %>
                <%= trip.experience.title %>
                <p> Price: <%= money_without_cents_and_with_symbol(trip.experience.price) %></p>
                  <% if trip.cancel? == false %>
                    <%= link_to "Cancel", trip_cancel_path(trip, cancel: true), method: :patch, class: "meal-link btn btn-primary end" %>
                  <% else %>
                    <p><%= "Cancellation pending please await email response" %></p>
                  <% end %>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
</div>
