<p>Hey!</p>

<p>You have received a request to book a travel experience. Please see here... </p>

<h4><%= @trip.experience.title %>: <%= @trip.first_name %> <%= @trip.last_name %> booked for <%= @trip.number_of_people %> people starting <%= @trip.start_date %></h4>

<p>Please <a href="here www.troveko.org/users/sign_in">log into your Troveko profile</a> to confirm your request.</p>

<p>Speak Soon,</p>
<p>Team Troveko</p>

