<div class="navbar-filters navbar-troveko-sticky" style="position: sticky; top: 0;">

  <div class="floatright">
        <%= link_to 'Grid', experiences_path, remote: true, method: :get, class: 'btn-primary btn-xl' %>
        <%= link_to 'Map', experiences_path(map: true), remote: true, method: :get, class: 'btn-primary btn-xl' %>
      </div>


    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Features
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% @features.each do |feature| %>
          <div><a class="dropdown-item filters-item" href="<%= experiences_path(feature: feature.name) %>"><%= feature.name %></a></div>
        <% end %>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Activities
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% @activities.each do |activity| %>
          <div><a class="dropdown-item filters-item" href="<%= experiences_path(activity: activity.name) %>"><%= activity.name %></a></div>
        <% end %>

      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Area types
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% @area_types.each do |area_type| %>
          <div><a class="dropdown-item filters-item" href="<%= experiences_path(area_type: area_type.name) %>"><%= area_type.name %></a></div>
        <% end %>
      </div>
      </div>
  </div>
</div>






