<div class="container">

  <div class="row">
    <h1>Order</h1>
    <h4>Thanks <%= @order.trip.user.first_name %> for choosing Troveko! We have sent a confirmation to <%= @order.trip.user.email %>.</h4>
      <ul>
        <li>Status: <%= @order.state %> upon host confirmation</li>
        <li>Trip: <%= @order.experience_sku %></li>
        <li>Amount: <%= money_without_cents_and_with_symbol(@order.amount) %></li>
      <ul>
  </div>

    <div class="row" id="confirmation_box">
      <center>
      <h4>Get ready to pack your bags, your adventure to <%= @order.trip.experience.city %> on <%= @order.trip.start_date %> has been sent to host for approval!</h4>
      <br>
    <center><i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i></center>

      <h4>You've contributed <%= money_without_cents_and_with_symbol(@order.trip.contribution.amount) %>, bringing the community <%= contribution_percentage(@order.trip).round(2) %>% closer to <%= @order.trip.experience.fund.title %></h4>
      </center>
          </div>


<div class="row" style="display: flex; justify-content: space-between; padding-bottom: 30px;">
      <h4><%= link_to 'See Upcoming Trips', profile_path(current_user.id) %></h4>
      <h4><%= link_to 'Share on Social Media'%></h4>
      <h4><%= link_to 'See More Experiences', experiences_path %></h4>
</div>

</div>
