<% content_for(:title_tag) do %>
  Learn About Troveko's Own Adventure
<% end %>

<div class="background-image" style="height: 100">
  <div class="background-overlay">
    <div class="about_banner col-md-10 col-md-offset-1 col-xs-12 col-md-4">
      <h1>About Troveko</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="navbar-troveko-sticky navbar-filters hidden-xs hidden-sm" id='main-nav' style="justify-content: space-around;">
  <a href="#team" style="font-size: 24px;"><h4>Who</h4></a>
  <a href="#what" style="font-size: 24px;"><h4>What</h4></a>
  <a href="#story" style="font-size: 24px;"><h4>Why</h4></a>
  <a href="#how" style="font-size: 24px;"><h4>How</h4></a>
  <a href="#impact" style="font-size: 24px;"><h4>Impact</h4></a>
  <a href="#partners" style="font-size: 24px;"><h4>Support</h4></a>
</div>


 <div class="about-section impact-overlay" id="team">
  <div class="container">
    <h1>Who are we</h1>
    <p>Our core team is made up of travelers and change-makers dedicated to connecting people across cultures</p>
  <div class="row" id="team-members" style="padding: 15px 0px;">
    <%= render 'pages/team' %>
  </div>
</div>
  </div>

<div class="container">

  <div class="about-section" id="what">
    <h1>What we do</h1>
    <p>Troveko is a travel platform that allows travelers to book immersive experiences in rural and remote communities in Asia. Key to achieveing this mission is by using web tools to streamline the process of creating meaningful local engagement in areas that lie beyond tourist hotspot.</p>
   <center>
     <h2>Our mission is to leverage traveler curiosity to drive community impact and heritage preservation in rural and remote areas with unmet needs. We envision a world where tourism is a means to an end, not an end in itself.</h2>
   </center>
  </div>
</div>

<div class="about-section">
<div id="story-image">
  <div class="impact-overlay" id="story">
    <div class="container">
    <h1>Our Story</h1>
      <p>It is becoming increasingly difficult to make sustainable forms of income in rural and remote communities around the world. Although globalization and urbanization are driving development in and around cities, there are some pockets of society that have basic unmet needs.</p>
      <p>In 2016, a group of backpackers discovered they shared the same awe and appreciation for the local skills and traditions found in the rural and remote communities during their travels. But it was evermore clear that, over time, these very communities were increasingly distressed and squeezed in the context of a more globalized, digitalized, and urbanized world.</p>
      <p> Our curiosity led us to uncover the various environmental and economic challenges faced and we decided to explore how we can use forms of sustainable tourism to address the underlying causes of these challenges as opposed to using traditional tourism as a means to quickly patch up the economic symptoms. The driving question became: how do we leverage the curiosity of backpackers like us to invest in sustainable solutions preserve and enhance (rather than disrupt and dilute) the cultural and environmental richness of rural and remote communities?</p>
      <p>We decided to create Troveko, and work hands-on with grassroots NGOs to design educational and impactful travel experiences. Troveko was selected as one of sixteen startups from around the world to be part of the Young Social Entrepreneurs Incubator Programme hosted by Singapore International Foundation in cooperation with McKinseyandCo, Temasek International, and Ashoka.</p>
    </div>
  </div>
</div>
</div>


<div class="container">

  <div class="about-section" id="how">
    <h1>How we do it</h1>
    <p>We have created a multi-stakeholder business model that maximizes impact by investing directly into the communities that you travel to, turning your travel experiences into investments towards sustainable solutions through organizations that have the expertise.</p>

    <div class="row desktop-row-eq-height">
      <div class="col-xs-12 col-md-4 impact-box first">
        <div class="how-icon">
          <img class="icon" src="<%= image_path("NGO.png") %>">
        </div>
        <h4>Facilitators</h4>
        <p>We partner with effective NGOs and Social Enterprises with a mission around ecological and cultural conservation in rural and remote communities. We aim to work with their beneficiaries to design and host travel experiences, creating a cycle of reinvestment into community initiatives.</p>
      </div>

      <div class="col-xs-12 col-xs-offset-1 col-md-4 impact-box">
        <div class="how-icon" >
          <img class="icon" src="<%= image_path("Host.png") %>">
        </div>
        <h4>Hosts</h4>
        <p>We partner with effective NGOs and Social Enterprises with a mission around ecological and cultural conservation in rural and remote communities. We aim to work with their beneficiaries to design and host travel experiences, creating a cycle of reinvestment into community initiatives.</p>
      </div>

      <div class="col-xs-12 col-xs-offset-1 col-md-4 impact-box">
        <div class="how-icon">
          <img class="icon" id="how-t" src="<%= image_path("small_logo2.png") %>">
        </div>
        <h4>Troveko</h4>
        <p>Our impact model is simple, we engage with local organizations that are planning and leading sustainable development initiatives and leverage travel experiences as a vehicle to raise the awareness and funds needed to execute projects that drive solutions.</p>
      </div>
    </div>
  </div>


</div>

<div class="about-section" id="impact">
<div id="impact-image">
<div class="impact-overlay">
  <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
    <div class="container">
      <h1>Our Impact</h1>
    <div class="row desktop-row-eq-height">
      <div class="col-xs-12 col-md-4 impact-box first">
        <h4>Drive Visibility and Awareness</h4>
        <p>Improve knowledge of and engagement with community needs through experiences that drive awareness of local life and present day threats posed.</p>
      </div>

      <div class="col-xs-12 col-xs-offset-1 col-md-4 impact-box">
        <h4>Promote Two-Way Experiential Learning</h4>
        <p>Eye-opening, transformative experiences with human interaction at the core allows for deep empathy and cross-cultural learning.</p>
      </div>

      <div class="col-xs-12 col-xs-offset-1 col-md-4 impact-box">
        <h4>Stimulate Community Impact</h4>
        <p>Visits improve the livelihood of hosts whilst contributing to their local village and broader community development initiatives.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="container about-section" id="partners">
  <h1>Support</h1>
  <p>Troveko was selected for the Young Social Entrepreneurs Incubator Programme, was a semi-finalist in Skidmore College's Ken Freirich Business Plan Competition, and has received support and mentorship from leading sustainable development organizations.</p>
  <br>
    <div class="row" style="padding: 15px 0px;">
    <div class="col-xs-12 col-md-4">
      <div class="team-header">
        <div class="team-avt">
          <img height="100" width="" src="https://asiasociety.org/files/uploads/474images/McKinsey%20logo%20stacked.png">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="team-header">
        <div class="team-avt">
          <img height="100" width="" src="http://www.myeo.info/wp-content/uploads/2017/10/SIF.logo_.horizontal.colour.png">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="team-header">
        <div class="team-avt">
          <img height="100" width="" src="<%= image_path("kalpa_logo.png") %>">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
