<% content_for(:title_tag) do %>
Troveko - Impact Through Adventure
<% end %>

<%= render 'shared/navbar' %>

<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= image_path("banner.jpg") %>');">
  <div class="banner-content">
    <h1>Impact Through Adventure</h1>
    <h2>Discover 1,000 years of history in<a href="" class="typewrite" data-period="2000" data-type='[ "Jatiluwih", "Tengkudak", "Piling" ]'>
        <span class="wrap"></span>
      </a>, Bali</h2>
    <br>

    <%= button_to "Start Adventure", experiences_path, :method => :get, class: "btn-treehouse" %>

    <!-- <h2>How it Works</h2> -->
  </div>
</div>


</div>
<!--
<div class="placeholder">
  <h1>What We Do</h1>
</div> -->

<div class="information">
  <br>
  <center>
    <h2 class="role">Travel Experiences that Drive Impact</h2>
    <div class="container">

      <h4>Troveko connects travelers with immersive living experiences in local farming communities in Bali, Indonesia. We use a multi-stakeholder model to stimulate community impact and provide adventures of a lifetime, providing a win-win-win across the board.</h4>
      <center>
      </div>


      <div class="information">
        <div class="row">

         <div class="col-xs-12 col-sm-4">
           <img class="icon" src="<%= image_path("NGO.png") %>">
           <h2 class="role">Communities</h2>
           <p class="description">We partner with local organizations, councils, and governing bodies to drive sustainable tourism while funding projects through our Community Funds tied to each experience.</p>
         </div>

          <div class="col-xs-12 col-sm-4">
            <img class="icon" style="height: 230px;" src="<%= image_path("Host.png") %>">
            <h2 class="role">Hosts</h2>
            <p class="description">Travel experiences are hosted by local families that treat adventurers as extended family members, sharing their endless supply of skill, tradition, and knowledge.</p>
          </div>

          <div class="col-xs-12 col-sm-4">
            <img class="icon" src="<%= image_path("Traveler.png") %>">
            <h2 class="role">Travelers</h2>
            <p class="description">Travelers engage with communities through these adventurous experiences while also having the opportunity to contribute to each location's Community Fund.</p>
          </div>

        </div>
        <br>
        <br>
      </div>

<div class="container-fluid" id="featured_experiences">

<div class="role">
  <h1 style="color: white;">Meet new friends and family in the places you wouldn't normally go...</h1>
</div>

<div class="container" id="picturerow">
  <div class="row" id="experience">
    <% @experiences.each do |experience| %>
    <div class="col-l-4-xs-12 col-sm-4" id="picture">
        <div class="card" style="border-radius: 20px; padding: 10px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path experience.photos[0].path if experience.photos.any? %>');">
          <div class="card-description">
      <h3><%= experience.title %></h3>
      <p style="align;" id="price-card"><%= experience.duration %> days, <%= money_without_cents_and_with_symbol(experience.price) %> per night</p>
    </div>
    <div class="card-category">
      <h3><%= experience.city %>, <%= experience.country %></h3>
    </div>
    <%= link_to '', experience_path(experience), class: 'card-link' %>
  </div>
</div>
<%end %>
</div>
</div>
</div>

<div class="container-fluid" id="testimonials">
  <div class="role">
    <h1 style="">...others have already made lifelong connections.</h1>
  </div>
  <div class="row">
    <%= render 'testimonials' %>
  </div>
</div>

<script>
  var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
