<%= simple_form_for(@experience) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :capacity %>
    <%= f.input :short_description %>
    <%= f.input :long_description %>
    <%= f.input :address %>
    <%= f.collection_check_boxes :feature_ids, Feature.all, :id, :name %>
  </div>

    <div class="form-actions text-center">
      <%= f.button :submit %>
    </div>
<% end %>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>
<% end %>
