<%= simple_form_for(@experience) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">

    <h3 class="form_section">The Experience</h3>
    <%= f.input :title, hint: 'what is the experience?', placeholder: 'A Weekend in The Subak' %>
    <%= f.input :short_description, hint: 'Sum up the experience in a compelling sentence', placeholder: 'Learn about the 1000-year history of the Balinese Subak with Pak Nyoman and his family' %>

    <h3 class="form_section">Provide The Details of The Experience</h3>
    <%= f.input :price_cents, wrapper_html: { class: 'experience_section' }  %>
    <%= f.input :capacity, placeholder: 'i.e. 3' %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :postal_code %>
    <%= f.country_select :country, priority_countries: ["GB", "US", "DE"] %>

    <h3 class="form_section">Tell Us A Story</h3>
    <%= f.input :long_description, hint: 'No more than 1000 characters', placeholder: 'Tell the story of the host and their family? Describe what life is like? What makes this experience interesting?', wrapper_html: { class: 'experience_section', id: 'count_me' } %>

    <h3 class="form_section">Amenities and Information</h3>

    <h5>What best describes the area?</h5>
    <%= f.collection_check_boxes :areatype_ids, Areatype.all, :id, :name, wrapper_html: { class: 'experience_section' }%>

    <h5>What does the accomodation have?</h5>
    <%= f.collection_check_boxes :feature_ids, Feature.all, :id, :name, wrapper_html: { class: 'experience_section' }%>

    <h5>What activities are available?</h5>
    <%= f.collection_check_boxes :activity_ids, Activity.all, :id, :name, wrapper_html: { class: 'experience_section' }%>

    <h3 class="form_section">Photos</h3>
    <p>Show us the host, their family, a snapshot of their work, and a feel for where they're located</p>
    <%= f.input :photos, as: :attachinary, wrapper_html: { id: 'photo_upload' } %>
  </div>

    <h3 class="form_section">Select Your Community Fund</h3>
    <%= f.association :fund, collection: current_user.funds, as: :radio_buttons %>

    <div class="form-actions text-center">
      <%= f.button :submit, "Ready to Roll", class: "btn-primary btn-lg" %>
    </div>
<% end %>

