<% @experiences.each do |experience| %>

      <div class="col-l-6 col-xs-6 col-sm-6">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path experience.photos[0].path if experience.photos.any? %>');">

          <div class="card-category">
            <%= experience.country %>
          </div>

          <div class="card-description">
            <h4><%= experience.title %></h4>
            <p style="align">$<%= experience.price %> per night</p>
          </div>
          <%= link_to '', experience_path(experience), class: 'card-link' %>
        </div>

        <br>
      </div>

    <%end %>
