
<div class="container-fluid">
  <h4><%= experience.title %></h4>
  <p><%= experience.short_description %></p>
      <div class="card-description">
       <p><%= experience.city %></p>
        <p><%= money_without_cents_and_with_symbol(experience.price) %> per night</p>
      </div>
      <%= link_to '', experience_path(experience), class: 'card-link' %>
    </div>
    <br>
</div>
