
 <div id="myCarousel" class="carousel slide photo" data-ride="carousel">
    <div class="experience-caption">
      <h1><%= @experience.title %> -- <%= @experience.short_description %></h1>
      <h5><%= money_without_cents_and_with_symbol(@experience.price) %> per night + optional fund contribution to a <%= @experience.areatypes[0].name %> in <%= @experience.city %></h5>
      <h5><%= money_without_cents_and_with_symbol(@experience.fund.contributions.sum(:amount_cents) / 100) %> of <%=  money_without_cents_and_with_symbol(@experience.fund.funding_goal) %> funded</h5>
    </div>

    <div class="carousel-inner">
      <% @experience.photos.each_with_index do |photo, index| %>
      <div class="item<%= " active" if index == 0 %> imagefit2">
        <%= cl_image_tag photo.path, crop: :scale, height: 700 %>
      </div>
      <% end %>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>


