<div class="details">

  <div class="section" id="overview">
    <div class="mobile-view-caption hidden-xl hidden-lg">
      <h1><%= @experience.title %></h1>
      <h4><%= @experience.short_description %></h4>
    </div>

    <h2>Overview</h2>
    <div class="flex-around" id="overview_info">
      <%#= render 'experiences/areatypes' %>
      <p style="text-align: center";><i class="fa <%= @experience.areatypes[0].fa_icon %> icon" id="showicon" aria-hidden="true"></i><%= @experience.areatypes[0].name %></p>
      <p style="text-align: center";><i class="fa fa-map-marker" id="showicon"></i><%= @experience.city %>, <%= @experience.country %></p>
      <p style="text-align: center";><i class="fa fa-money" id="showicon"></i> <%= money_without_cents_and_with_symbol(@experience.price) %> per person</p>
      <p style="text-align: center";><i class="fa fa-users" id="showicon"></i>Capacity (<%= @experience.capacity %>)</p>
      <p style="text-align: center";><i class="fa  fa-calendar-o" id="showicon"></i><%= @experience.duration %>-day experience</p>

    </div>
  </div>

  <div class="section" id="host">
    <h2>Meet the Host</h2>
    <%= @experience.long_description %>
    <h4>Accomodation Amenities</h4>
    <div class="flex">
      <%= render 'experiences/features' %>
    </div>
  </div>

  <div class="section" id="activities">
    <h2>About the Experience</h2>
    <h4>Experience Highlights</h4>
    <ul>
      <li>Get in-depth insight on the history, customs, and practices that shape Jatiluwih</li>
      <li>Learn traditional gardening and farming methods as well as age-old ceremonies and rituals in the rice field</li>
      <li>Learn how to cook traditional Balinese food and desert using local ingredients</li>
      <li>Visit various hot springs and bathing houses in nearby villages for a warm nature cleanse</li>
      <li>Hike to the 2,000m peak of the Mount Batukaru</li>
      <li>Trek through the endless rice fields of Jatiluwih</li>
      <li>Explore untouched forests and see waterfalls</li>
      <li>Visit the five surrounding temples</li>
    </ul>
<!--      <p><%= @experience.highlights %></p> <br> -->
      <p> This experience includes activies such as:</p>
      <div class="flex">
        <%= render 'experiences/activities' %>
      </div>
</div>

  <div class="section" id="impact">
    <h2>Impact</h2>

    <h4><%= @experience.fund.title %></h4>
    <h2 style="padding-top: 10px;"><%= money_without_cents_and_with_symbol(@experience.fund.contributions.sum(:amount_cents) / 100) %> of <%=  money_without_cents_and_with_symbol(@experience.fund.funding_goal) %> funded</h2>
    <%= render 'fund_information' %>
    <h5>Description</h5>
    <p><%= @experience.fund.about %></p>
    <h5>Use of Funds</h5>
    <p><%= @experience.fund.use_of_funds %></p>
    <h5>Project Implementation</h5>
    <p>Troveko is working directly with the Subak Forum (made up of each of the local Subak leaders) for the entire cluster to scope and execute community projects. Once the initiative is funded, implementation will be led directly by the community and monitored by Troveko program managers in Bali.</p>
  </div>

  <div class="section" id="location">
    <h2>Location</h2>

  <p><%= @experience.transportation %></p>
    <%= render 'experiences/map' %>
  </div>

  <div class="section form_section" id="reviews">
    <h2>Reviews</h2>
    <% if @experience.reviews.blank? %>
    Be the first to leave a review for <%= @experience.title %>
    <% else %>
    <% @experience.reviews.each do |review| %>
    <%= render 'reviews/show', review: review %>
    <% end %>
    <% end %>
    <%= render 'reviews/form', experience: @experience, review: @review %>
    <br>

    <div class="row ngo-actions">
      <%= button_to 'See All Experiences', experiences_path, :method => :get, class: "btn-lg btn-primary", id: "meal-button" %>
      <a href="#myCarousel" class="btn-lg btn-primary" id="meal-button">Back to Top of Page</a>
    </div>


    <% if @experience.user == @user %>
    <!-- need to add permission for this depending on what user this is with pundit  -->
    <%= link_to 'Edit Experience', edit_experience_path(@experience) %>
    <% end %>

  </div>
</div>
