<center>

 <img src="<%= image_path("nonprofit.png") %>" alt="host" class="nonprofit">
      <div class="info">
       <div id="bar-1" class="bar-main-container">
        <div class="wrap">
          <p><%= @experience.fund.title %></p>
          <div class="info">
            <div class="bar-container">
              <div class="bar">
              </div>
            </div>
            <div class="bar-percentage" data-percentage="<%= fund_percentage(@experience) %>">
            </div>
          </div>
        </div>
      </div>


      <h4><%= money_without_cents_and_with_symbol(@experience.fund.contributions.sum(:amount_cents) / 100) %> of <%=  money_without_cents_and_with_symbol(@experience.fund.funding_goal) %> funded <a href="#impact">(Read More)</a></h4>
      <% if !current_user.nil? %>
            <%= link_to 'Have a question? Send a message.', conversations_path(sender_id: current_user.id, recipient_id: @experience.user.id, experience_id: @experience.id), method: :post %>
            <% end %>

      <br>
<div class="margin" style="padding-bottom: 100px; margin-top: 70px; ">
  <%= render 'sidebar_cta' %>
</div>


</center>

<!--  <form>
        <input type="date" class="date">
        <input type="date" class="date">
        <input type="number" class="date" placeholder="Guests">
        <br>
        <input type="submit" class="button" value="Start Your Adventure">
      </form> -->
