<center>

  <div class="sticky-content">
    <div class="container-fluid">
      <img src="<%= image_path("nonprofit.png") %>" alt="host" class="nonprofit">
      <div class="info">
       <div id="bar-1" class="bar-main-container">
        <div class="wrap">
          <p><%= @experience.fund.title %></p>
          <div class="info">
            <div class="bar-container">
              <div class="bar">
              </div>
            </div>
            <div class="bar-percentage" data-percentage="<%= fund_percentage(@experience) %>">
            </div>
          </div>
        </div>
      </div>


      <h2><%= money_without_cents_and_with_symbol(@experience.fund.contributions.sum(:amount_cents) / 100) %> of <%=  money_without_cents_and_with_symbol(@experience.fund.funding_goal) %> funded</h2>

<div class="margin" style="padding-bottom: 100px; ">


 <div class="booking" style=" margin-top: 70px;">
      <h3><%= money_without_cents_and_with_symbol(@experience.price) %> per night</h3>
    </div>

    <div class="">
      <%= button_to "Start Your Adventure", new_experience_trip_path(@experience), :method => :get, class: "btn-lg btn-primary", id: "meal-button" %>
    </div>
  </div>
</div>

</div>

<!-- </div>
-->
</center>

<!--  <form>
        <input type="date" class="date">
        <input type="date" class="date">
        <input type="number" class="date" placeholder="Guests">
        <br>
        <input type="submit" class="button" value="Start Your Adventure">
      </form> -->
