
<!-- images for experience -->

<%# @experience.photos.each do |photo| %>
<%#= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<%# end %>

<!-- info for page -->

<div class="showdetails">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-xs-8" id="column">
      <div class="hostimages">
        <img src="<%= cl_image_path @experience.photos[0].path %>" alt="host" class="photo">
      </div>

      <div class="container show-headline">
        <span><h1 style="padding-left: 60px;"><%= @experience.title %><sm><%= @experience.short_description %></sm></h1></span>
      </div>

      <%= render 'shared/navbarshow' %>

      <div class="details">

        <h2>Overview</h2>
        <div class="flex-around">
          <p><%= render 'experiences/areatypes' %></p>
          <p><i class="fa fa-map-marker"></i><%= @experience.city %>, <%= @experience.country %></p>
          <p> <i class="fa fa-money"></i> <%= money_without_cents_and_with_symbol(@experience.price) %> per person</p>
          <p><i class="fa fa-users"></i><%= @experience.capacity %></p>
        </div>
        <br>

        <div class="flex">
          <%= render 'experiences/features' %>
        </div>


        <h2>About the Host</h2>
        <%= @experience.long_description %>

        <h2 id="activities">About the Experience</h2>
        <h4>Experience Highlights</h4>
        <ul>
          <li>Participate in traditional craft workshops and help support local infrastructure in Lima.</li>
          <li>Learn how to transform raw materials into usable crafts from experienced artisans in a variety of workshops ranging from weaving to ceramic pottery.</li>
          <li>Listen to the important stories of Ayacucho artisans who were displaced as a result of domestic terrorism in Peru.
          </li>
        </ul>
        <p> This experience includes activies such as:</p>


        <div class="flex">
          <%= render 'experiences/activities' %>
        </div>

        <h2 id="impact">Impact</h2>

        <h4><%= @experience.fund.title %></h4>
        <h5>Description</h5>
        <p><%= @experience.fund.about %></p>
        <h5>Use of Funds</h5>
        <p><%= @experience.fund.use_of_funds %></p>
        <h4>About The Organization</h4>
        <h5>Mission</h5>
        <p>To save all animals on the planet</p>
        <h5>Programs</h5>
        <p>We offer several programs including assisting animals with their daily lives</p>
        <h5>Website</h5>
        <p>visit www.projectkalpa.org for more information</p>

        <h2 id="location">Location</h2>

        <%= render 'map' %>



        <div id="reviews">
          <h2>Reviews</h2>
          <% if @experience.reviews.blank? %>
          Be the first to leave a review for <%= @experience.title %>
          <% else %>
          <% @experience.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
          <% end %>
          <% end %>
          <%= render 'reviews/form', experience: @experience, review: @review %>
          <br>
          <div class="row ngo-actions">
            <%= button_to "Start Your Adventure", new_experience_trip_path(@experience), :method => :get, class: "btn-lg btn-primary", id: "meal-button" %>
            <%= button_to 'View All Experiences', experiences_path, :method => :get, class: "btn-lg btn-primary", id: "meal-button" %>
            <% if !current_user.nil? %>
            <%= button_to 'Message Organization', conversations_path(sender_id: current_user.id, recipient_id: @experience.user.id), method: :post, class: "btn-lg btn-primary", id: "meal-button" %>
            <% end %>
          </div>

          <% if @experience.user == @user %>
          <!-- need to add permission for this depending on what user this is with pundit  -->
          <%= link_to 'Edit Experience', edit_experience_path(@experience) %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

<div class="col-lg-3 col-md-4 col-xs-4" style="margin-left: 66.5%;" id="stickycolumn">
  <%= render 'experiences/sidebar' %>
</div>
</div>

<!-- js for map rendering -->

<% content_for(:after_js) do %>
  <script>
    var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
  </script>
<% end %>
