<h1>Contributions#new</h1>
<p>Find me in app/views/contributions/new.html.erb</p>

 <%= simple_form_for [@contribution, @trip], html: { class: "form-horizontal" } do |f| %>
    <%= f.error_notification %>
    <h3>What do you want to contribute?</h3>
    <div class="form-inputs">
      <%= f.input :contribution, placeholder: "Suggested: $20" %>
    </div>

   <div class="form-actions text-center">
    <%= f.button :submit, 'Book Your Experience' %>
  </div>
  <% end %>
</div>
<%= link_to "Back to Experience", experience_path(@experience) %>
</div>
