<% content_for(:title_tag) do %>
  Information about <%= @fund.title %>
<% end %>


  <div class="container">
    <div class="fund text-center">
      <div class="main">
        <div class="main-content">
          <%= cl_image_tag @fund.experience.photos[0].path, crop: :fill, width: 400, height: 400 %>
        </div>
      </div>
      <div class="stat">
        <div class="stat-content">
          <h1><%= @fund.title %></h1>
          <h3>Goal: <%= money_without_cents_and_with_symbol(@fund.funding_goal) %></h3>
        </div>
      </div>
      <div class="stat">
        <div class="stat-content">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="stat">

      </div>
      <div class="description">
        <div class="description-content">
          <h3><%= @fund.about%></h3>
          <p class="text-justify">
            <%= @fund.use_of_funds %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- </body>
  </html> -->
